* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  /* box-sizing: border-box; */
}

/* @media screen and (max-width: 767px) {
  .container {
    display: grid;
  }
}
@media screen and (min-width: 768px) {
   .container {
    display: grid;
  } 
} */
/* 
@media (max-width: 768px) and (min-width: 481px) {
  .container {
    display: grid;
  }
} */
