.container > div {
  text-align: center;
}
.container {
    background-color: rgba(128, 128, 128, 0.733);
  }
@media only screen and (max-width: 480px) and (min-width: 0px) { /*   Mobile view */
 
  .diva {
    background: #d8ac9c;
  }
  .divb {
    background: #999b84;
  }
  .divc {
    background: #ad6c80;
}
.divd {
    background: #8b5e83;
  }
  .dive {
    background: #efd9d1;
}

.divf {
    background: #f4eeed;
  }

  .divg {
    background: #999b84;
}

.divh {
    background: #ad6c80;
  }

  .divi {
    background: #d8ac9c;
}
  }
  @media only screen and (max-width: 1280px) and (min-width: 769px) {  /* Desktop View*/
    .diva {
        background: #ffcb91;
  }
  .divb {
    background: #94ebcd;
}
.divc {
    background: #9a8194;
}
.divd {
    background: #c6a9a3;
  }
  .dive {
    background: #e97878;
}

.divf {
    background: #ad6c80;
  }

  .divg {
    background: #ee99a0;
}

.divh {
    background: #e97878;
}

.divi {
    background: #ffcb91;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {    /* Tablet View*/
    .diva {
        background: #158467;
  }
  .divb {
    background: #065446;
}
.divc {
    background: #197163;
  }
  .divd {
    background: #fadcac;
}
.dive {
    background: #065446;
  }

  .divf {
    background: #c19277;
}

.divg {
    background: #eaac7f;
  }

  .divh {
    background: #f4f5db;
}

.divi {
    background: #c19277;
}

}
 


